{{!-- Index de Usuario --}}

<div class="container">
    <a href="/" class="btn btn-primary">Voltar</a>
    {{#if usuario }}
    <a href="/usuario/{{usuario.id}}" class="btn btn-primary">Mostrar</a>
    <a href="/usuario/{{usuario.id}}/edit" class="btn btn-secondary">Editar</a>
    <a href="/usuario/{{usuario.id}}/editemailpassword" class="btn btn-secondary">Editar Email e Senha</a>
    <a href="#" class="btn btn-warning" onclick="logoutUser({{usuario.id}})">Logout</a>
    <a href="#" class="btn btn-danger" onclick="deleteResource({{usuario.id}})">Apagar Usuário</a>
    <p>Usuário conectado id: {{usuario.id}}</p>
    <p>Usuário conectado nome: {{usuario.nome}}</p>
    <p>Usuário conectado email: {{usuario.email}}</p>

    <div class="container">
        
     
    </div>
    {{else}}
    <div class="card">
                <div class="card-header text-center">
                    <h4>Login</h4>
                </div>
                <div class="card-body">
                    <form method="post" action="/usuario/login">
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        <div class="mb-3">
                            <label for="id-input-email" class="form-label">Email</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                <input type="email" class="form-control" id="id-input-email"
                                    placeholder="Digite seu email. Ex: fulano@gmail.com" name="email" required>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="id-input-senha" class="form-label">Senha</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                <input type="password" class="form-control" id="id-input-senha"
                                    placeholder="Digite sua senha." name="senha" required>
                            </div>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Entrar</button>
                            <a href="/usuario" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Voltar</a>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-muted text-center">
                    Ainda não tem uma conta? <a href="/usuario/create">Criar conta</a>
                </div>
    {{/if}}

</div>

<script>
    async function deleteResource(id) {
        if (confirm(`Deseja remover o recurso de id = ${id}`)) {
            const response = await fetch(`/usuario/${id}`, {
                method: "DELETE",
                headers: {
                    "X-CSRF-Token": "{{csrfToken}}"
                }
            });
            if (response.redirected) {
                window.location.href = response.url;
            }
        }
    }
    async function logoutUser(id) {
        if (confirm(`Fazer logout do usuário de id = ${id}`)) {
            const response = await fetch(`/usuario/logout`, {
                method: "POST",
                headers: {
                    "X-CSRF-Token": "{{csrfToken}}"
                }
            });
            if (response.redirected) {
                window.location.href = response.url;
            }
        }
    }
</script>